<!doctype html>
<head>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('fugue_icons.static', filename='fugue-icons.css') }}">
</head>
<body>
    <p>Hello world! <span class="fugue-icon fugue-globe"></span></p>
</body>
